[Unit]
Description=Prize: module settings updater
After=network-online.target
Wants=systemd-networkd.service

[Service]
Type=simple
User=user
Group=user
ExecStart=<path_to>/venv/bin/python3.8 <path_ti>/remote_controller --config="<path_to>/conf/remote_controller.json" --service="remote_controller"
Restart=on-abnormal

[Install]
WantedBy=multi-user.target
